@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  -moz-appearance:none; 
  -webkit-appearance:none; 
  appearance:none;
  background-image: url(../../public/bi_caret-down-fill.svg);
  background-repeat: no-repeat;
  background-position-x: 25px;
  background-position-y: 11px;
}

.searchbar {
  background-image: url(../../public/akar-icons_search.svg);
  background-repeat: no-repeat;
  background-position-x: 9px;
  background-position-y: 7px;
}

/* @layer base {
  * {
    @apply dark:bg-[#FBE7E8] 
        bg-[#edf6f9];
  }
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
