@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  -moz-appearance:none; 
  -webkit-appearance:none; 
  appearance:none;
  background-image: url(../../public/bi_caret-down-fill.svg);
  background-repeat: no-repeat;
  background-position-x: 25px;
  background-position-y: 11px;
}

.searchbar {
  background-image: url(../../public/akar-icons_search.svg);
  background-repeat: no-repeat;
  background-position-x: 9px;
  background-position-y: 7px;
}

@layer base {
  body {
    @apply dark:bg-[#1D1E42] 
  }
}